%% -*- mode: erlang -*-
%%
%% enable coverage output when running eunit
{ cover_enabled, true }.
{ cover_opts, [verbose] }.

%% always include debug info so AST is included in beams
{erl_opts, [ debug_info,
             {platform_define, "18|19|2[0-9]", 'namespaced_types'}
           ]}.

%% disable opaque type checking as I don't want to figure out how to fix
%% dicts
{dialyzer, [{warnings,[no_opaque]}]}.

{clean_files, ["ebin", "doc"]}.

{deps, []}.
